{
  "extends": ["@appium/eslint-config-appium-ts"],
  "overrides": [
    {
      "files": "packages/tizen-remote/**/*.js",
      "rules": {
        "promise/no-native": 0,
        "no-restricted-syntax": 0
      }
    },
    {
      "files": "packages/appium-tizen-tv-driver/lib/scripts.js",
      "env": {
        "browser": true
      },
      "rules": {
        "promise/no-native": 0
      },
      "globals": {
        "tizen": false
      }
    },
    {
      "files": "packages/tizen-sample-app/js/**/*.js",
      "env": {
        "browser": true,
        "jquery": true
      },
      "globals": {
        "tizen": false,
        "startTime": true
      },
      "rules": {
        "no-console": 0
      }
    }
  ]
}
