{
  "extends": "@appium/eslint-config-appium",
  "overrides":[
    {
      "files": "packages/tizen-remote/**/*.js",
      "rules": {
        "promise/no-native": 0,
        "no-restricted-syntax": 0
      }
    }
  ]
}
